---
# Ensure tomcat is not enabled during database/StoreXML operations
tomcat_enabled: true
tomcat_version: 7
postgresql_standard_conforming_strings: off # As advised by docs XXX: needed?
tomcat:
    user: "tomcat{{ tomcat_version }}"
    group: "tomcat{{ tomcat_version }}"
    hostname: localhost
    server_port: 8005
    catalina_port: 8983
    catalina_redirect_port: 8443

# Java JVM settings
java_home: /usr/lib/jvm/java-1.8.0-openjdk-amd64/
java_packages:
  - openjdk-8-jdk

java_mem:
    Xms: 512
    Xmx: 1024

## XNAT settings
# Email server for XNAT
smtp:
    hostmaster_email: xnat@example_com
    server: xnat.example.com
    port: 25
    mail_prefix: XNAT # Prefix to the subject line for system emails_
    # Mail server credentials. These values are only required for mail servers with authentication turned on.
    auth_name:
    auth_passwd:

# XNAT variables
xnat_version: 1.7.1
xnat_root: /data/xnat
xnat_home: "{{ xnat_root }}/home"

xnat:
    project_name: xnat
    tarball: xnat-web-{{ xnat_version }}-SNAPSHOT.war
    pg_database: xnat
    pg_user: xnat
    pg_password: xnat

plugins_release_tag: 1.3
# removed Ansible vault file because cannot store password in public repo or wiki. And staff's memory is too weak
#github_token: {{ vault_github_token }}

